@using School.SoftwareMakingProject.Domain.DbEntities;
@model Event
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etkinlik - sesQ</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/event.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <form id="calendar-edit-form">
            <h1 class="fw-bold">Etkinlik Düzenle</h1>
            <div class="my-3">
                <label for="eventTitle" class="form-label">Etkinlik Adı</label>
                <input type="text" class="form-control" id="eventTitle" name="description" value="@Model.description">
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="eventDate" class="form-label">Etkinlik Tarihi</label>
                    <input type="date" class="form-control" id="eventDate" name="date" value="@Model.event_end_datetime.Value.ToString("yyyy-MM-dd")">
                </div>
                <div class="mb-3">
                    <label for="eventTime" class="form-label">Etkinlik Saati</label>
                    <input type="time" class="form-control" id="eventTime" name="time" value="@{
                        DateTime datetime2 = Model.event_end_datetime.Value;
                        string time = datetime2.ToString("HH:mm");
                        @time
                    }">
                </div>
            </div>

            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn">Kaydet</button>
        </form>
    </div>

    <script src="/assets/js/calendar-edit.js"></script>
</body>

</html>